/*slider caption*/

.btn-danger {
    padding: 3px 8px;
    font-size: 12px;
    width: 40%
}

.btn-success {
    padding: 3px 8px;
    font-size: 12px;
    width: 40%
}

.btn-info {
    padding: 3px 8px;
    font-size: 12px;
    width: 40%
}

.btn-warning {
    padding: 3px 8px;
    font-size: 12px;
    width: 40%
}

.btn-dark {
    padding: 3px 8px;
    font-size: 12px;
    width: 40%
}

.btn-primary {
    padding: 3px 8px;
    font-size: 12px;
    width: 40%
}

/*slider caption*/

.btn-video {
    padding: 4px 8px;
    font-weight: bold;
    font-size: 12px;
    width: 20%;
    background: #00508f !important;
    text-transform: uppercase;
    color: #ffffff;
}

#card_holder {
    margin-left: 200px !important;
}

#gossip {
    padding: 8px 8px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
    background: #fba919;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.post-container {
    background: gray;
    overflow: auto;
    padding-right: 0 !important;
}

.post-thumb {
    float: right;
    margin-right: 0 !important;
}

.post-thumb img {
    float: right;
    clear: right;
    width: 85px;
    height: 70px;
}


.post-content {
    overflow: hidden;
}

.post-content p {
    font-size: 14px;
}










